/* Add your styles here. */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #252A38;
    color: #DCDCDC;
}
.blur{
    filter: blur(4px);
    transition: 0.5s;
}
/* MOBILE NAV BAR */

@media screen and (min-width: 800px) {
    .mobile-nav {
      display: none;
    }
 }
.icon {
    color: white;
    text-decoration: none;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    font-size: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

 /* The Overlay (background) */
 .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    background-color: #151820; /* dark blue color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #DCDCDC;;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 40px;
    right: 45px;
    font-size: 32px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 10px;
      top: 15px;
      right: 35px;
    }
  } 




/* NAV BAR */
@media screen and (max-width: 800px) {
    .nav-bar {
      display: none;
    }
 }
.nav-bar {
    text-align: center;
    position: sticky;
    color: #DCDCDC;
    background-color: #151820;
}

.nav-bar-link {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #DCDCDC;
}

.nav-bar-button {
    color: #DCDCDC;
    background-color: #151820;
    border: none;
}

a:link {
    text-decoration: none ;
  } 

  /* USER DETAILS */

  .user-detail-cover-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
  }

  .user-profile-img {
      border-radius: 50%;
      border: solid white;
      float:left
  }

  .profile-div {
      margin-left: auto;
      margin-right: auto;
      border-width: 2px;
      border-color: red;
      position:absolute;
      }
      /* POSTS LIST SECTION */
      .center-content{
          display: flex;
          justify-content: center;
      }
      .all-posts-section {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          max-width: 1024px;
      }
      .posts {
        display: flex;
        flex-wrap: wrap;
        max-width: 1024px;
        width: calc((100% - (2 * 3rem)) / 3);
        margin-right: 0;
        margin-bottom: 3rem;
        
      }

      .posts img {
       width: 100%;
        object-fit: cover;
        
      }

      /* POSTS SECTION */
      @media screen and (min-width: 800px) {
        .posts-section {
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            overflow: scroll;
        }

    .posts-section {
        display:flex;
        justify-content: center; 
    }

    .posts-section .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1024px;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

  }

 .posts-section .container .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    width: calc((100% - (2 * 3rem)) / 3);
    margin-right: 0;
    margin-bottom: 3rem;
    background-color: #151820;

      }


.item img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
  
  .username-bold {
    font-weight: 600;
  }

  .fade-date {
      font-weight: 300;
  }